.App {
    text-align: center;
  }


  
  /* .App-header {
    height:50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    margin-top:25px;
    width: 70%;
    display:flex;
    justify-content:flex-start
  }
  
  
  ul {
    margin-top:100px;
    display: flex;
    justify-content: flex-end;  
  }
  
  li {
    list-style: none;
    margin-right: 35px;
  }
  
  a {
    text-decoration: none;
    padding: 6px;
    color: darkgreen;
    font-weight: bold;
  } */
  